
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    /* background-color: rgb(2, 80, 94); */
    background-image: url(../img/bg-main4.png);
    background-size: cover;
    background-attachment: fixed;
    font-family: sans-serif;
    overflow-x: hidden;
}

/* ============NAVBAR============ */

.navbar {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    transform: translateY(-50px);
    opacity: 0;
}
.navbar.landing {
    transform: translateY(0);
    opacity: 1;
    transition: all 0.5s;
}
.navbar h1 {
    padding: 5px;
    position: relative;
    font-size: 1.5em;
}
.navbar h1::after {
    content: '';
    height: 0px;
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    transition: all 0.3s;
}
.navbar h1:hover::after {
    background-color: rgb(11, 11, 41);
    height: 4px;
}
.navbar h1 a {
    text-decoration: none;
    color: rgb(212, 212, 212);
}
.navbar h1 a:hover {
    color: rgb(11, 11, 41);
}
.navbar ul {
    text-transform: uppercase;
    max-width: 550px;
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    box-sizing: border-box;
}
.navbar ul li {
    margin: 0 10px;
    padding-bottom: 5px;
    position: relative;
    font-size: 0.9em;
    
    animation: rotasi 2s infinite;
}
.navbar ul li::after {
    content: '';
    height: 1px;
    width: 100%;
    background-color: white;
    position: absolute;
    border-radius: 10px;
    bottom: 0;
    left: 0;
    transition: all 0.3s;
    opacity: 0.5;
}
.navbar ul li:hover::after {
    height: 4px;
    background-color: rgb(11, 11, 41);
    opacity: 1;
}
.navbar ul li a {
    text-decoration: none;
    color: rgb(212, 212, 212);
    font-size: 1em;
}
.navbar ul li a:hover {
    color: rgb(11, 11, 41);
}

.scroll {
    width: 50px;
    border-radius: 50%;
}
.scroll img {
    width: 50px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9999;
}
.scroll p {
    display: none;
    position: fixed;
    bottom: 90px;
    right: 10px;
    z-index: 9999;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}
.scroll img:hover {
    box-shadow: 0px 0px 5px black;
}
.scroll a:hover ~ p {
    display: block;
}
/* ============NAVBAR============ */


/* ISI */

.container {
    padding: 20px;
}

.welcome {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.4   ); 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
}
.welcome .text {
    width: 40%;
}
.welcome .text h1 {
    font-size: 3.5em;
    text-align: center;
    transform: translateX(-100px);
    opacity: 0;
}
.welcome .text h1.landing {
    transform: translateX(0);
    opacity: 1;
    transition: all 0.2s;
}

.welcome img {
    width: 40%;
    transform: translateY(100px);
    opacity: 0;
}
.welcome img.landing {
    transform: translateY(0);
    opacity: 1;
    transition: all ease 0.6s;
}

.stis {
    margin-top: 100px;
    width: 100%;
    height: 500px;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}
.stis::after {
    content: '';
    position: absolute;
    bottom: 20px;
    left: -20px;
    height: 150px;
    width: 500px;
    background-color: transparent;
    border-top: 5px solid blue;
    z-index: -1;
}
.stis .kiri {
    width: 50%;
}
.stis .kanan {
    width: 70%;
    display: flex;
}
.stis .kanan img {
    width: 40%;
    border-radius: 10px;
}
.stis .kanan img.kiri {
    transform: translate(15px, 50px);
    z-index: 3;
}
.stis .kanan img.tengah {
    transform: translate(-60px, 0);
    z-index: 2;
}
.stis .kanan img.kanan {
    transform: translate(-150px, -50px);
    z-index: 1;
}


.mahasiswa {
    margin: 100px auto 0;
    width: 50%;
    background-color: rgba(128, 128, 128);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    border: 2px solid blue;
}
.mahasiswa::before {
    content: '';
    height: 300px;
    width: 900px;
    position: absolute;
    right: -400px;
    top: 180px;
    background-color: rgba(128, 128, 128, 0.3);
    border-bottom: 5px solid red;
    z-index: -2;
}
.mahasiswa::after {
    content: '';
    height: 300px;
    width: 900px;
    position: absolute;
    left:-400px;
    bottom: 180px;
    background-color: rgba(128, 128, 128, 0.3);
    border-top: 5px solid red;
    z-index: -1;
}
.mahasiswa h2 {
    text-transform: uppercase;
    margin-bottom: 20px;
}
.mahasiswa img {
    width: 50%;
    border: 3px solid black;
    border-radius: 50%;
    transition: all 0.2s;
}
.mahasiswa img:hover {
    background-color: rgb(122, 121, 121);
    border-radius: 15px;
}
.mahasiswa a {
    margin-top: 40px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 10px;
    transition: all 0.2s;
}
.mahasiswa a:hover {
    transform: translateY(-3px);
    background-color: black;
    color: white;
    box-shadow: 0px 3px 7px black;
}

.slider {
    margin-top: 100px;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.4);
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.slides {
    width: 750px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    overflow-x: hidden;
}
.slides input {
    display: none;
}
.slides img {
    width: 100%;
    border-radius: 10px;
}

.navigation-manual {
    margin-top: 20px;
    width: 100%;
    margin-top: 40px auto;
    display: flex;
    justify-content: center;
}
.manual-btn {
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child) {
    margin-right: 40px;
}
.manual-btn:hover {
    background-color: black;
}
#radio1:checked ~ .first {
    margin-left: 0px;
    transition: all 1s;
}
#radio2:checked ~ .first {
    margin-left: -750px;
    transition: all 1s;
}
#radio3:checked ~ .first {
    margin-left: -1500px;
    transition: all 1s;
}
#radio4:checked ~ .first {
    margin-left: -2250px;
    transition: all 1s;
}


.kotak {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    position: absolute;
    top: 2680px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s;
    font-weight: bold;
}
.kotak p {
    width: 80px;
    text-align: center;
    font-size: 0.8em;
}
.kotak.kiri {
    border: 5px solid red;
    left: 100px;
}
.kotak.kanan {
    border: 5px solid blue;
    right: 100px;
}

.developer {
    margin: 100px auto 0;
    width: 50%;
    background-color: black;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    border: 2px solid blue;
    overflow: hidden;
}
.developer h2 {
    text-transform: uppercase;
    margin-bottom: 20px;
    color: white;
    z-index: 1;
}
.developer img {
    width: 50%;
    border: 3px solid black;
    border-radius: 50%;
    transition: all 0.2s;
    z-index: 1;
}
.developer a {
    margin-top: 40px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 10px;
    transition: all 0.2s;
    z-index: 1;
    visibility: hidden;
}

/* ========CIRCLE========= */
.shape {
    width: 150px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
}
.shape.none {
    display: none;

}
.shape.block {
    display: block;
}
/* ======================= */


@keyframes goyang {
    0% {
        transform: translateY(5px);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(5px);
    }
}

@keyframes rotasi {
    0% {
        transform: rotate(0.5deg);
    }
    50% {
        transform: rotate(-0.5deg);
    }
    100% {
        transform: rotate(0.5deg);
    }
}





































/* ISI */


/* ============FOOTER============ */
.footer {
    width: 100%;
    margin-top: 600px;
    padding: 80px 20px;
    background-image: url(../img/bg-foot.png);
    background-size: cover;
    background-attachment: fixed;
    flex-direction: column;
    box-sizing: border-box;
}
.footer .atas {
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer .atas h2:hover {
    color: white;
}
.footer .atas ul.satu {
    width: 30%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .atas ul.satu li {
    margin: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 0;
    transition: all 0.3s;
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
}
.footer .atas ul.satu li:hover {
    transform: translateY(-3px);
    box-shadow:  0px 0px 4px black;
}
.footer .atas ul.satu li a img {
    width: 100%;
}
.footer .atas ul.satu li p {
    display: none;
    bottom: 0;
    padding: 5px;
    width: 100px;
    background-color: gray;
    transform: translateY(10px);
    border-radius: 4px;
    position: relative;
    opacity: 0.9;
}
.footer .atas ul.satu li p::after {
    content: '';
    border: 10px solid transparent;
    border-bottom-color: gray;
    position: absolute;
    top: -18px;
    left: 45px;
}
.footer .atas ul.satu li a:hover ~ p {
    display: block;
}
.footer .atas ul.dua {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-top: 10px;
}
.footer .atas ul.dua li {
    text-transform: uppercase;
    font-size: 0.8em;
    margin: 10px;
    transition: all 0.3s;
}
.footer .atas ul.dua li:hover {
    transform: translateY(-2px);
}
.footer .atas ul.dua li a {
    text-decoration: none;
    color: black;   
    padding: 7px 15px;
    border-radius: 10px;
    background-color: salmon;
}
.footer .atas ul.dua li a:hover {
    color: white;
    background-color: rgb(11, 19, 58);
    box-shadow: 0px 3px 3px black;
}

.footer .bawah {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer .bawah h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}
.footer .bawah h2 a {
    text-decoration: none;
    color: black;
}
.footer .bawah h2:hover a {
    color: white;
}
.footer .bawah h2 a:hover {
    color: salmon;
}

.footer .bawah p {
    margin-bottom: 5px;
    letter-spacing: 1px;
}
.footer .bawah h2:hover,
.footer .bawah p:hover {
    color: white;
}
/* ============FOOTER============ */

